@mixin box-shadow($top, $right, $button, $left) {
    -webkit-box-shadow: $top $right $button $left rgba(0,0,0,0.75);
-moz-box-shadow: $top, $right $button $left rgba(0,0,0,0.75);
box-shadow: $top $right $button $left rgba(0,0,0,0.75);  
} 

@mixin box-shadow-dark-mode {
  box-shadow: 0px 0px 6px 1px rgba(225, 225, 225, 0.75);
}