//colors items
.yellow{
    background: #ffc107;
}
.blue{
    background: #007bff;
    color: #fff;
}
.orange{
    background: #fb3e44;
    color: #fff;
}
.pink{
    background: #bf4080;
    color: #fff;
}
.red{
    background: #dc3545;
    color: #fff;
}
.purple{
    background: #563d7c;
    color: #fff;
}
.coral{
    background: #ee6e73;
    color: #fff;
}
.lilac{
 background-color: #764cba;
 color: #fff;
}