*{
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.content-error{
  max-width: 1080px;
  margin: auto;
  display: flex;
  justify-content: center;
  p{
    color: red;
    font-weight: bold;
    padding-bottom: 50px;
  }
}