%items-container{
    width: 80%;
    margin: auto;
}
$title-skills: 7px;


.containerError{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-experience{
    width: 27%;
    margin: 70px auto 90px auto;
    text-align: center;
    p{
        line-height: 25px;
    }
    i{
        font-size: 3em;
        margin-bottom: 15px;
    }
}
.container-title-skills{
        width: 100%;
        text-align: center;
        margin: 50px auto 0px auto;
        text-align: center;
}
.container-skills{
    width: 65%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    @include box-shadow(0px, 0px, 6px, 1px);
   
    .container-backend{
        margin: 40px auto;
        .title-backend{
            margin-bottom: $title-skills;
        }
    }
    .container-frontend{
        margin-top: 40px;
        .title-frontend{
            margin-bottom: $title-skills;
        }
    }
}

.items-backend{
    @extend %items-container;
}
.items-frontend{
    @extend %items-container;
}
.icons-items{
    font-size: 1.3em;
}
.items-frontend, .items-backend{
    display: flex;
    flex-wrap: wrap;
    li{
        margin-right: 20px;
        padding: 1px 7px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
}

