.container-about-me{
    width: 350px;
    @include box-shadow(0px, 0px, 6px, 1px);
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img{
        border-radius: 100px;
        height: 167px;
        width: 170px;
        margin-bottom: 20px;
    }
    .container-list-information{
        text-align: center;
        li{
            margin-bottom: 20px;
        }
    }
}