//colors items
.js{
    background: #ffc107;
}
.react{
    background: #007bff;
    color: #fff;
}
.npm{
    background: #fb3e44;
    color: #fff;
}
.sass{
    background: #bf4080;
    color: #fff;
}
.html{
    background: #dc3545;
    color: #fff;
}
.bootstrap{
    background: #563d7c;
    color: #fff;
}
.materialize{
    background: #ee6e73;
    color: #fff;
}
.composer{
    background: #343a40;
    color: #fff;
}