$transition: .8s;
$color-item: #777;

.container-nav{
    background-color: #f8f8f8;
    .items-nav{
        max-width: 1090px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: #f8f8f8;
        padding: 7px 0px 2px;
    }
    .name{
        color: $color-item;
        font-size: 1.1em;
        margin-left: 10px;
        transition: ease .5s;
        &:hover{
          color: black; 
          transition: ease .5s;
        }
    }
}
.container-image{
    position: relative;
    .img-nav{
        width: 100%;
        height: 95vh;
        overflow: hidden;
        object-fit: cover;
        // background-image: url('../images/fondo4.jpg');
        // object-fit: cover;
        // background-attachment: fixed;
        // background-position: center;
        // background-size: cover;
    }
    .container-image--overlay{
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 95vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .container-image--branch{
            margin-top: -20px;   
            padding-bottom: 30px;
            border-bottom: 1px solid #f8f8f8; 
            h1{
                color: #f8f8f8;
                font-size: 3.5em;
                letter-spacing: 3px;
            }
        }
    }
}

.items-li{
      display: flex;
     li{
        a{
            font-size: 1.1em;
            color: $color-item;
            padding: 5px 15px;
            cursor: pointer;
            border-right: 1px solid $color-item;
            transition: ease .5s;
            &:hover{
               color: black; 
               transition: ease .5s;
            }
          }
          .end{
               border-right: none;
           }
        }
}

.container-information{
    display: flex;
    top: 45px;
    padding: 20px;
    .information{
         color: rgb(199, 193, 193);
         line-height: 25px;
         width: 30%;
    }
}
.responsive{
    display: none;
    position: absolute;
}
.items-li-responsive{
    margin-left: -100%;
    transition: all 1s;
}

.btn-menu{
    display: none;
    color: #fff;
}

.rotate-btn{
    transition: ease .7s;
    transform: rotate(180deg);
}

.show-menu{
    display: block;
}
.show-items-menu{
    margin-left: 0%;
    transition: all .6s;
}

.bloquear-scroll{
    overflow: hidden
}

.title-name-nav{
   display: none;
}